[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[todos_los_modulos]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      title = utnso@utnso: ~
    [[[child1]]]
      type = HPaned
      parent = child0
      order = 0
    [[[child2]]]
      type = HPaned
      parent = child1
      order = 0
    [[[memoria]]]
      type = Terminal
      parent = child2
      order = 0
      profile = default
      title = memoria
      command = cd memoria && make start
    [[[cpu]]]
      type = Terminal
      parent = child2
      order = 1
      profile = default
      title = cpu
      command = sleep 2 && cd cpu && make start
    [[[child5]]]
      type = HPaned
      parent = child1
      order = 1
      ratio = 0.5
    [[[entradasalida]]]
      type = Terminal
      parent = child5
      order = 0
      profile = default
      title = entradasalida
      command = sleep 6 && cd entradasalida && make start
    [[[child7]]]
      type = VPaned
      parent = child5
      order = 1
    [[[consola]]]
      type = Terminal
      parent = child7
      order = 0
      profile = default
      title = consola kernel
      command = sleep 4 && cd kernel && make start
    [[[kernel]]]
      type = Terminal
      parent = child7
      order = 1
      profile = default
      title = logs kernel
      command = sleep 4 && cd kernel && tail -f kernel.log
[plugins]
