[global_config]
  suppress_multiple_term_dialog = True
  always_split_with_profile = True
[keybindings]
[profiles]
  [[default]]
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
  [[kernel]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      title = utnso@utnso: ~
    [[[child1]]]
      type = HPaned
      parent = child0
      order = 0
      ratio = 0.65
    [[[consola]]]
      type = Terminal
      parent = child1
      order = 1
      profile = default
      title = consola kernel
      command = make start
    [[[kernel]]]
      type = Terminal
      parent = child1
      order = 0
      profile = default
      title = logs kernel
      command = tail -f kernel.log | awk ' /ERROR/ {print "\033[31m" $0 "\033[39m"} /INFO/ {print "\033[37m" $0 "\033[39m"} /DEBUG/ {print "\033[32m" $0 "\033[39m"} /TRACE/ {print "\033[36m" $0 "\033[39m"} '
[plugins]